<!--<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navigation') %>

  

    <%- include('partials/footer') %>
  </body>
</html>-->
<section class="mainAbout">
  <div class="fullContent" >
    <div class="imgAbout">
      <div class="imgAbner"></div>
      <div class="infoIndexAbout">
        <p>Abner Emanuel Gutierrez Altamirnao</p>
        <p><span>Front-end</span> web developer</p>
        <a style="text-decoration: none;" href="/projects"><p style="color: #00f;">Projects</p></a>
        <a href="tel:+527341330970" style="text-decoration: none;"><p>+(52) 734-133-09-70</p></a>

      </div>
    </div>

    <div class="contentSkillsInfo" >
      <div class="constentSkills">
        <div>
          <h3 style="text-align: center; width: 100%">Skills</h3>
        </div>
        <div>
          <p>HTML</p>
          <img src="/media/htmlogo.png" alt="" />
        </div>
        <div>
          <p>CSS</p>
          <img src="/media/csslog.webp" alt="" />
        </div>
        <div>
          <p>JavaScript</p>
          <img src="/media/jslogo.png" alt="" />
        </div>
        <div>
          <p>Bootstrap</p>
          <img src="/media/logobbootstrap.png" alt="" />
        </div>
        <div>
          <p>Figma</p>
          <img src="/media/figmaIcon.png" alt="" />
        </div>
        <div>
          <p>Node js</p>
          <img src="/media/nodej-icon.png" alt="" />
        </div>
        <div>
          <p>Mongo db</p>
          <img src="/media/mongoicon.png" alt="" />
        </div>
      </div>
      <div class="contentInfo">
        <p>Aptitudes</p>
        <br />
        <p>Trabajo en equió</p>
        <p>Disponibilidad de aprendizaje</p>
        <p>Proactivo</p>
        <p>Adaptabilidad</p>
        <p>bases en metodologia SCRUM</p>
      </div>
    </div>
  </div>
</section>
