<!--<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navigation') %>

  

    <%- include('partials/footer') %>
  </body>
</html>-->
<section id="contact" class="ain">
  <div class="fullContent">
    <div class="contenFormu">
      <div class="form">
        <form action="https://formsubmit.co/abnergutierrez.com1@gmail.com" method="POST" name="enviar-mensaje">
          <h4 style="color: #fff; text-align: center">Contact me</h4>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your email"
          />
          <input type="text" name="user" id="user" placeholder="Name" />
          <textarea
            name="txtEmail"
            id="txtEmail"
            cols="30"
            rows="10"
            placeholder="Message"
          ></textarea>
          <button
          class="btn"
          type="submit"
          >Send</button>
        </form>
      </div>
      <div class="socialNetworks">
        <div>
         <a href="https://www.facebook.com/abneremanuel.gutieresaltamirano/" target="_blank"><img src="/media/face.png"  alt="link" />
        <p>Facebook</p>
        </a>
         <a href="https://www.instagram.com/abnerega/" target="_blank"> <img src="/media/instaLogo2.0.jpg" alt="" />
          <p>Instagram</p>
        </a>
         <a href=""> <img src="/media/x.png" alt="" />
          <p>X twitter</p>
        </a>
        </a>
          <a href="https://www.linkedin.com/in/abner-altamirano-24054a281/" target="_blank"> <img src="/media/linkedinlogo.png" alt="" />
            <p>Linkedin</p>
          </a>
            <a href="https://github.com/AbnerGutierrez" target="_blank"> <img src="/media/githublogo.png" alt="" />
              <p>Github</p>
            </a>
            <a href=""><img src="/media/gmailIcon.png" alt="" />
              <p>CV</p>
         
        </div>
        <a href="tel:+527341330970" style="text-decoration: none;"><p>+(52) 734-133-09-70</p></a>
      </div>
    </div>
  </div>
</section>
