<!--<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navigation') %>

   

    <%- include('partials/footer') %>

  </body>
</html>-->
<section id="projects" class="mainproject" >
  <div class="fullContent">

    <div class="contentCard">
        <div class="card">
            <div>
             <h3>Store</h3>
             <p>About the store bro </p>
             <a href="">Go</a>
            </div>
             <div>
                 <img src="/media/jslogo.png" alt="">
                 <img src="/media/htmlogo.png" alt="">
                 <img src="/media/csslog.webp" alt="">
                 <img src="/media/tailwin.png" alt="">
             </div>
         </div>
         <div class="card">
             <div>
              <h3>Landing page</h3>
              <p>About the store bro </p>
              <a href="">Go</a>
             </div>
              <div>
                <img src="/media/jslogo.png" alt="">
                <img src="/media/htmlogo.png" alt="">
                <img src="/media/csslog.webp" alt="">
                <img src="/media/tailwin.png" alt="">
              </div>
          </div>
          <div class="card">
             <div>
              <h3>nodejs / mongo db</h3>
              <p>About the store bro </p>
              <a href="">Go</a>
             </div>
              <div>
                <img src="/media/jslogo.png" alt="">
                <img src="/media/htmlogo.png" alt="">
                <img src="/media/csslog.webp" alt="">
                <img src="/media/tailwin.png" alt="">
              </div>
          </div>
          <div class="card">
             <div>
              <h3>Web site</h3>
              <p>About the store bro </p>
              <a href="">Go</a>
             </div>
              <div>
                <img src="/media/jslogo.png" alt="">
                <img src="/media/htmlogo.png" alt="">
                <img src="/media/csslog.webp" alt="">
                <img src="/media/tailwin.png" alt="">
              </div>
          </div>
          <div class="card">
             <div>
              <h3>Social network</h3>
              <p>About the store bro </p>
              <a href="">Go</a>
             </div>
              <div>
                <img src="/media/jslogo.png" alt="">
                <img src="/media/htmlogo.png" alt="">
                <img src="/media/csslog.webp" alt="">
                <img src="/media/tailwin.png" alt="">
              </div>
          </div>
          <div class="card">
             <div>
              <h3>Streaming </h3>
              <p>About the store bro </p>
              <a href="">Go</a>
             </div>
              <div>
                <img src="/media/jslogo.png" alt="">
                <img src="/media/htmlogo.png" alt="">
                <img src="/media/csslog.webp" alt="">
                <img src="/media/tailwin.png" alt="">
              </div>
          </div>
    </div>

  </div>
</section>
