<style>
  footer {
    border-top: 1px solid #39f;
    width: 80%;
    margin: auto;
  }
  footer div{
    padding:5px;   
    display: flex;
    width: 100%;
    justify-content: center;
  }
 
  footer p{
    text-align: center;
    font-size: 25px;
    color:  rgb(16, 51, 87);
    font-weight: 600;
  }
  footer div div{
    display: flex;
    flex-direction: column;
  }
  footer div div div{
    text-align: center;
    margin-top: 20px;
   
  }
  footer div div div a{
   text-decoration: none;
   font-size: 20px;
   color: rebeccapurple;
  }
 
  .linkL i{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .linkL a{
    margin-top: 5px;
  width: 100%;
    font-weight: 100;
  }
  i{
    color: rebeccapurple;

  }
</style>
<footer style=" height: 100%; " >
   <div>
    
    <div>
      <p>
      Estoy a tu disposición :)
      
    </p>

    <div class="linkL">
      <i class="fa-brands fa-linkedin"><a href="https://www.linkedin.com/in/abner-altamirano-24054a281/"target="_blank"> Linkdin </a></i>
      <i class="fa-brands fa-instagram"><a href="https://www.instagram.com/abnerega/"target="_blank"> Instagram </a></i>
      <i class="fa-solid fa-headset"><a href="tel:+527341330970"target="_blank"> Llamame </a></i>
      <i class="fa-brands fa-github"> <a href="https://github.com/AbnerGutierrez"target="_blank"> GitHub </a></i>
     
    </div>
    </div>
   
    <div>
      <p>
      Abner Gutierrez
    </p>
    <div>
      <a href=""> Derechos no reservados 😅 </a>
      <a href=""> 2023 </a>
    </div>
    </div>
   
   
    <div>
      <p>
      Mis proyectos
    </p>
    <div>
      <a href=""> Landing Page </a>
      <a href=""> Web store </a>
      <a href=""> Streaming </a>
      <a href=""> Nodejs / mongo db </a>
      <a href="#projects"> More </a>
    </div>
  </div>
   
  </div>
  </footer>