
<nav class="desktopTablet">
    <h3>Abner Gutierrez</h3>

    <div class="links">
      <a href="/">Home</a>
      <a href="">About me</a>
      <a href="#contact">Contact</a>
      <a href="#projects">Projects</a>
    </div>
  </nav>



 <div class="contentMobile">
  <div class="hBtn">
    <h3>Abner Gutierrez</h3>
    <button id="btnNav" onclick="onNav()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="links" id="lin" onclick="offNav()">
    <nav class="mobile" id="mobile">
      <div class="linksMobile">
        <a href="/">Home</a>
        <a href="">About me</a>
        <a href="#contact">Contact</a>
        <a href="#projects">Projects</a>
    </div>
  </nav>
</div>

 </div>

